@model HotelBill.Models.InvoiceGstViewModel

@{
    ViewBag.Title = "Practice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*CTRL + M + O -mini mize*@
@*CTRL + M + L- opne*@
<link href="~/Content/application-css/common-date-format.css" rel="stylesheet" />

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid" style="padding-right: 0px; padding-left: 0px">

            @using (Html.BeginForm())
            {
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Create New Bill</h3>
                    </div>
                    <div>
                        <div class="card-body">

                            <div class="row">
                                <table id="tblInvoice" width="100%" class="tableCust" style="border: 1px solid #9bcad0a1">
                                    <thead>
                                        <tr class="fontMenuBody">
                                            <td class="textCenter"> </td>
                                            <td>
                                                <input type="text" id="itm_ItemDetails" class="form-control form-control-sm" placeholder="Item Name" />
                                            </td>
                                            <td class="textCenter">
                                                <input id="itm_HSN" type="text" class="form-control form-control-sm" placeholder="HSN" />
                                            </td>
                                            <td class="textCenter">
                                                <input id="itm_Quantity" type="number" class="form-control form-control-sm" placeholder="Qty" />
                                            </td>
                                            <td class="textCenter">
                                                <input id="itm_Rate" type="number" class="form-control form-control-sm" placeholder="Rate" />
                                            </td>
                                            <td class="textRight">
                                                <input id="itm_Value" type="text" class="form-control form-control-sm" placeholder="Value" readonly />
                                            </td>
                                            <td class="textCenter">
                                                <select id="itm_GstRate" class="form-control form-control-sm">
                                                    <option value="5">5%</option>
                                                    <option value="12">12%</option>
                                                    <option value="18">18%</option>
                                                </select>
                                            </td>
                                            <td class="textCenter">
                                                <input id="itm_GstValue" type="text" class="form-control form-control-sm" readonly />
                                            </td>
                                            <td class="textRight">
                                                <input id="itm_Total" type="text" class="form-control form-control-sm" placeholder="Total" readonly />
                                            </td>
                                            <td class="textRight">
                                                <input id="btnAddItm" type="button" class="btn btn-sm btn-outline-success bg-info" value="Add" />
                                            </td>
                                        </tr>

                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr class="fontMenuHeader" style="border: 1px solid #95c6cc">
                                            <td colspan="5" class="textCenter"> Total </td>
                                            <td class="textRight gItmValue re-set" style="border: 1px solid #95c6cc"> 0.00 </td>
                                            <td> </td>
                                            <td class="textRight gItmGstValue re-set" style="border: 1px solid #95c6cc"> 0.00</td>
                                            <td class="textRight gItmTotal re-set" style="border: 1px solid #95c6cc"> 0.00 </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <table style="float: right; width: 39%; " class="border-theme bg-theme">
                                                    <tfoot>
                                                        <tr class="section-group">
                                                            <td class="textCenter"></td>
                                                            <td>5%</td>
                                                            <td>12%</td>
                                                            <td>18%</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr class="section-sgst">
                                                            <td class="textCenter">CGST</td>
                                                            <td class="re-set" id="cgst-5-footer">0.00</td>
                                                            <td class="re-set" id="cgst-12-footer">0.00</td>
                                                            <td class="re-set" id="cgst-18-footer">0.00</td>
                                                            <td class="textRight">CGST :&nbsp;</td>
                                                            <td class="re-set" id="cgst-all-footer">0.00</td>
                                                        </tr>
                                                        <tr class="section-sgst">
                                                            <td class="textCenter">SGST</td>
                                                            <td class="re-set" id="sgst-5-footer">0.00</td>
                                                            <td class="re-set" id="sgst-12-footer">0.00</td>
                                                            <td class="re-set" id="sgst-18-footer">0.00</td>
                                                            <td class="textRight">SGST :&nbsp;</td>
                                                            <td class="re-set" id="sgst-all-footer">0.00</td>
                                                        </tr>
                                                        <tr class="section-igst">
                                                            <td class="textCenter">IGST</td>
                                                            <td class="re-set" id="igst-5-footer">0.00</td>
                                                            <td class="re-set" id="igst-12-footer">0.00</td>
                                                            <td class="re-set" id="igst-18-footer">0.00</td>
                                                            <td class="textRight">IGST : &nbsp;</td>
                                                            <td class="re-set" id="igst-all-footer">0.00</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn  btn-sm btn-info w104" id="invoiceSubmit">Submit & new</button>
                            <button type="button" class="btn  btn-sm btn-info w104" id="invoicePrint">Submit & Print</button>
                            <button type="button" class="btn  btn-sm btn-info w104" id="invoiceDraft">Draft</button>
                            <button type="button" id="reset" class="btn btn-sm btn-outline-danger w104">Reset</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<script src="~/Scripts/application-js/common.js"></script>
<script>
    function calculateInvoiceRow() {
        let rate = parseFloat($('#itm_Rate').val()) || 0;
        let qty = parseInt($('#itm_Quantity').val()) || 0;
        let gstRate = parseFloat($('#itm_GstRate').val()) || 0;

        let value = rate * qty;
        let gstValue = value * gstRate / 100;
        let total = value + gstValue;

        $('#itm_Value').val(value.toFixed(2));
        $('#itm_GstValue').val(gstValue.toFixed(2));
        $('#itm_Total').val(total.toFixed(2));
    }

    $('#itm_Rate, #itm_Quantity, #itm_GstRate').on('input change', function () {
        calculateInvoiceRow();
    });

    $('#btnAddItm').on('click', function () {
        let itemName = $('#itm_ItemDetails').val();
        let hsn = $('#itm_HSN').val();
        let qty = $('#itm_Quantity').val();
        let rate = $('#itm_Rate').val();
        let gstRate = $('#itm_GstRate').val();
        let value = $('#itm_Value').val();
        let gstValue = $('#itm_GstValue').val();
        let total = $('#itm_Total').val();
        let cgst = (parseFloat(gstValue) / 2).toFixed(2);
        let sgst = (parseFloat(gstValue) / 2).toFixed(2);

        if (itemName && rate && qty) {
            let row = '<tr>' +
                '<td class="textCenter"></td>' +
                '<td>' + itemName + '</td>' +
                '<td>' + hsn + '</td>' +
                '<td>' + qty + '</td>' +
                '<td>' + rate + '</td>' +
                '<td>' + value + '</td>' +
                '<td>' + gstRate + '%</td>' +
                '<td>' + gstValue + '</td>' +
                '<td>' + total + '<br/><small>CGST: ' + cgst + ', SGST: ' + sgst + '</small></td>' +
                '<td></td>' +
                '</tr>';
            $('#tblInvoice tbody').append(row);
            clearInputs();
        }
    });

    function clearInputs() {
        $('#itm_ItemDetails').val('');
        $('#itm_HSN').val('');
        $('#itm_Quantity').val('');
        $('#itm_Rate').val('');
        $('#itm_Value').val('');
        $('#itm_GstRate').val('5');
        $('#itm_GstValue').val('');
        $('#itm_Total').val('');
    }
</script>




